* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #FFB900;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.nav a:hover,
.nav .active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav .active a::after{
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

header .sign-up-btn {
    min-width: 144px;
    margin-left: 49px;
}


/*============== Hero ============*/
/* .hero-wrap {
    padding: 65px 0;
    background: #FFFCF4;
}

.hero-wrap .main-content {
    display: flex;
}
.hero-image {
    position: relative;
}

.hero-image .card {
    position: absolute;

    bottom: 48px;
    left: 300px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
    height: 244px;
}

.card-wrap {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 24px;
}

.card-item {
    display: flex;
}

.card-item .desc-1 {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.card-item .desc-2 {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
    margin-top: -5px;
}

.card-item .image {
    height: 48px;
    padding-right: 16px;
}

.hero {
    margin: 64px 0 0 230px;
}

.hero .title {
    color: #171100;
    font-family: "Sen";
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 117.241%;
    letter-spacing: -1.16px;
}

.hero .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero .hero-btn-detail {
    margin-top: 38px; 
    display: flex;  
}

.hero-btn-detail .btn {
    border-radius: 32px;
    background: #FFB900;
    min-width: 180px;
    height: 64px;
    font-size: 18px;
    font-weight: 600;
    line-height: 64px;
}

.hero .play-btn {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.hero .play-btn .watch {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
    padding-bottom: 14px; 
}

.play-btn .watch:hover {
    text-decoration: underline;
}

.hero .sub-desc {
    margin-top: 42px;
}

.hero-qty {
    margin-top: 8px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero-qty strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727%;
}

.hero-qty strong:first-child {
    padding-left: 0;
} */


/* Hero */
.hero {
    padding-top: 56px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
}

.hero .media-block {
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    padding: 28px 24px;
    position: absolute;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
}

.hero-summary .item {
    display: flex;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF9E8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #FCEFFF;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #EBEAFF;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 125.667%;
}



.hero .content-block {
    width: 52%;
    padding: 64px 0 64px 130px;
}

.hero .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 117.241%;
    letter-spacing: -1.16px;
}

.hero .desc {
    margin: 22px 0;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero .cta-group {
    display: flex;
    align-items: center;

    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: #FFFCF4;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.hero .stats strong {
    padding: 0px 8px 0px 28px;   
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727%;
}

.hero .stats strong:first-child {
    padding: 0px 8px 0px 0;  
}